html{
box-sizing:border-box;
  font-family:'karla';
    font-size:16px;
}
.main-body{
   box-shadow:1px 1px 10px 1px rgba(0,0,0,0.3);
   margin:40px;
  border-radius:7px;
  overflow:hidden;
}
.container{
  display:flex;
  
}
.container-1,.container-2{
  color:white;
  
  height:250px;
  flex:40%
}
.container-1{
  background-color:#31BCBA;
  color:white;
  padding:20px;
  padding-left:40px;
  
}
.container-2{
  background-color:#53C5C4;
  padding:20px;
}
.container-2 ul{

 opacity:0.6;
  list-style:none;
  padding:0px;
  margin-top:3
}
#h{
  margin-left:0px;
}
.sub-heading{
  color:#BDD837;
}
.main-heading{
  color:#31BCBA;
  margin-bottom:30px;
}
.main-box1{
  padding:30px;
  padding-left:40px;
  height:40%;
  width:100%;
}
.main-box1 p{
  color:#B6B6B6;
  margin:10px;
  margin-left:0px;
}
.button{
  background-color:#BDD837;
    color:white;
  margin-top:20px;
  padding:15px;
  width:90%;
  border:none;
   box-shadow:1px 1px 10px 1px rgba(0,0,0,0.2);
  border-radius:6px;
}
button:hover{
  background-color:#99C230;
  cursor:pointer;
  transform:scale(1.03);
}
.price-and-time{
  display:flex;
}
.price{
  margin-right:20px;
  font-size:37px;
  font-weight:700;
}
.month{
  margin-top:12px;
 opacity:0.5;
}
